.site-container{
	background-color: #ffffff;
	box-shadow: 0 0 5px #ddd;
    margin: 5px auto;
    max-width: 1140px;
    overflow: hidden;
    padding: 10px;
	min-height: 100%;
}

.body{
		background-image: url("assets/images/bggradient.png");
		background-repeat: repeat-x;
		background-attachment: fixed;
		background-size:cover;
		max-width: 1140px;
		margin-left: auto;
		margin-right: auto;
		padding: 15px 15px;
		color:#2b2b2b;
		font-family:sans-serif;
	}
	h1{
		font-family:sans-serif;
		color:#5c4201;
		text-align:center;
	}
	h2{
		font-family:sans-serif;
		color:#000000;
	}
	h3{
		font-family:sans-serif;
	}
	div.polaroid{
		width: 50%;
		margin: auto;
		background-color: white;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		margin-bottom: 25px;
	}
	div.container{
		text-align: center;
		padding: 10px 20px;
	}

.header{
	background-color:#009999;
	background: url(/assets/images/evzlogo2.png);
	padding:5px;
	margin:10px auto;
	border:1px dashed #ffffff;
	border-radius:8px;
	margin-top: 10px;
	margin-bottom:5px;

}

.nav{
    border:1px solid #009999;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}

.nav li{
    display:inline;
}

.nav a{
    display:inline-block;
    padding:10px;
}

.content{
    font-family:sans-serif
    ;
}


